<div>
<.form let={f} for={@comment_changeset}
       phx-change="validate_check"
       phx-submit="write"
       phx-target={@myself}>

    <%= label f, :description %>
    <%= text_input f, :description %>
    <%= error_tag f, :description %>

    <%= submit "Write" %>
</.form>
</div>