<div>
  <.form let={f} for={@comment_changeset}
         phx-change="validate_check"
         phx-submit="edit"
         phx-target={@myself} >
    
    <%= label f, :description %>
    <%= text_input f, :description %>
    <%= error_tag f, :description %>
    
    <%= submit "Edit" %>
  </.form>
</div>