<div>
    <.form let={f} for={@post_changeset}
            phx-change="validate_check"
            phx-submit="edit"
            phx-target={@myself}>
      
      <%= label f, :title %>
      <%= text_input f, :title %>
      <%= error_tag f, :title %>
      
      <%= label f, :description %>
      <%= text_input f, :description %>
      <%= error_tag f, :description %>
      
      <%= submit "Edit" %>
    </.form>
</div>