<div>
  <.form let={f} for={@post_changeset}
         phx-change="validate_check"
         phx-submit="write"
         phx-target={@myself} >
         
         <%= label f, :title %>
         <%= text_input f, :title %>
         <%= error_tag f, :title %>
         
         <%= label f, :description %>
         <%= text_input f, :description %>
         <%= error_tag f, :description %>
      
      <%= submit "Write" %>
  </.form>
</div>